<main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        <div class="offer-list">
            <div class="game">
                <div class="game-img">
                    <img src="./static/images/witcher-3.jpg">
                </div>
                <div class="game-info">
                    <h1>The Witcher 3</h1>
                    <p><span>Platform: </span>PC</p>
                    <p><span>Genre: </span>RPG</p>
                    <p><span>Price: </span>$23</p>
                </div>

                <a href="#" class="btn-details">Details</a>
            </div>
            
          
        </div>
        <!-- <div class="no-offer">
                <p>There are no game offers found!</p>
            </div> -->
    </section>
</main>